<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="text-2xl font-semibold text-gray-900">Список пользователей</h1>
        </template>

        <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">

            <div class="flex flex-col sm:flex-row flex-col-reverse items-center justify-between mb-6">
                <div class="w-full sm:w-1/2">
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <div class="relative flex-grow focus-within:z-10">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400 fill-current" viewBox="0 0 20 20">
                                    <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                                </svg>
                            </div>

                            <input
                                class="form-input block w-full rounded-none rounded-l-md pl-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                placeholder="Поиск..."
                            />
                        </div>

                        <v-dropdown>
                            <template v-slot:button>
                                <button class="btn btn-gray leading-6 sm:text-sm sm:leading-5 -ml-px rounded-l-none">
                                    <svg class="h-4 w-4 text-gray-400 fill-current" viewBox="0 0 20 20">
                                        <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"></path>
                                    </svg>
                                    <span class="ml-2">Фильтры</span>
                                </button>
                            </template>

                        </v-dropdown>
                    </div>
                </div>

                <div class="flex items-center justify-end w-full mb-4 sm:mb-0 sm:w-1/2 -mx-2">
                    <div class="px-0 sm:px-2">
                        <button
                            class="btn btn-purple"
                            @click="showCreateUserModal()"
                        >
                            Добавить пользователя
                        </button>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-6 mt-5">
                <div class="col-span-12 w-full overflow-hidden rounded shadow bg-white">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr class="text-xs font-semibold text-gray-500 tracking-wide text-left uppercase">
                                <th class="px-2 w-px py-4 sticky top-0">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-gray-100 px-2 py-2 rounded-full cursor-pointer">
                                        <input
                                            type="checkbox"
                                            class="text-purple-600 form-checkbox"
                                            v-model="selectAll">
                                    </label>
                                </th>
                                <th class="px-6 py-4">Имя</th>
                                <th class="px-6 py-4">Номер телефона</th>
                                <th class="px-6 py-4">Роль</th>
                                <th class="px-6 py-4"></th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <tr
                                class="text-gray-700 dark:text-gray-400 bg-white hover:bg-gray-50 transition duration-150 ease-in-out border-t w-full"
                                v-for="user in $page.users.data"
                                :key="user.id"
                            >
                                <td class="px-2 py-3">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-gray-200 px-2 py-2 rounded-full cursor-pointer">
                                        <input
                                            type="checkbox"
                                            class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-none rounded-full dark:focus:shadow-outline-gray h-5 w-5"
                                            v-model="selectedRows"
                                            :value="user.id"
                                        >
                                    </label>
                                </td>
                                <td>
                                    <p class="text-sm font-semibold">{{ user.full_name }}</p>
                                </td>
                                <td>
                                    {{ user.phone }}
                                </td>
                                <td>
                                    {{ user.role ? user.role.name : 'Не имеет роли' }}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                    <a @click.prevent="showEditUserModal(user)" href="#" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline">
                                        Изменить
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 sm:grid-cols-9 dark:text-gray-400">
                        <div class="flex items-center col-span-3">
                            <button
                                class="text-xl font-semibold duration-150 jam jam-trash text-gray-400 cursor-default"
                                :class="{ 'cursor-pointer': selectedRows.length, 'hover:text-red-600': selectedRows.length }"
                                :disabled="!selectedRows.length"
                                @click="deleteRows()"
                            ></button>

                            <div class="form-group ml-4 w-auto">
                                <select class="form-select" :disabled="!selectedRows.length">
                                    <option :value="null">Изменить статус</option>
                                    <option value="active">В продажу</option>
                                    <option value="hide">Скрыть</option>
                                </select>
                            </div>

                        </div>

                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
              <v-pagination :links="$page.users.meta.links"></v-pagination>
            </span>
                    </div>
                </div>
            </div>

        </div>
    </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default';
import VCreateUserModal from '@/views/firm/manager/settings/users/modal-user-create'
import VEditUserModal from '@/views/firm/manager/settings/users/modal-user-edit'
import VDropdown from '@/components/dropdown'
import VPagination from '@/components/pagination'

export default {
    components: {
        VDefaultLayout,
        VCreateUserModal,
        VEditUserModal,
        VDropdown,
        VPagination
    },
    props: {
        users: Object,
        roles: Array,
    },
    data () {
        return {
            statusOpen: false,
            selectedRows: [],
        }
    },

    methods: {
        /*deleteRows () {
            this.$inertia.post( route('users.destroy'), this.selectedRows)
                .then( () => { console.log(':)') } );
        },*/
        showCreateUserModal() {
            this.$modal(VCreateUserModal, {
                roles: this.roles
            });
        },

        showEditUserModal(user) {
            this.$modal(VEditUserModal, {
                user: user,
                roles: this.roles
            });
        }
    },
    computed: {
        selectAll: {
            get: function () {
                return this.users.data.length ? this.selectedRows.length === this.users.data.length : false;
            },
            set: function (value) {
                var selectedRows = [];

                if (value) {
                    this.users.data.forEach(function (user) {
                        selectedRows.push(user.id);
                    });
                }

                this.selectedRows = selectedRows;
            }
        }
    }
}
</script>
