<template>
    <v-modal ref="modal">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="p-6">
                <h3 class="font-medium text-lg">Добавить пользователя</h3>
            </div>

            <div class="p-6">
                <div class="form-group mb-6">
                    <label class="form-label">Имя</label>
                    <input class="form-input" v-model="form.first_name">
                    <span class="invalid-feedback" v-if="$page.errors.has('first_name')">{{ $page.errors.first('first_name') }}</span>
                </div>

                <div class="form-group mb-6">
                    <label class="form-label">Фамилия</label>
                    <input class="form-input" v-model="form.last_name">
                    <span class="invalid-feedback" v-if="$page.errors.has('last_name')">{{ $page.errors.first('last_name') }}</span>
                </div>

                <div class="form-group mb-6">
                    <label class="form-label">Номер телефона</label>
                    <input type="tel" class="form-input" v-model="form.phone">
                    <span class="invalid-feedback" v-if="$page.errors.has('phone')">{{ $page.errors.first('phone') }}</span>
                </div>

                <div class="form-group mb-6">
                    <label class="form-label">Почта</label>
                    <input type="email" class="form-input" v-model="form.email">
                    <span class="invalid-feedback" v-if="$page.errors.has('email')">{{ $page.errors.first('email') }}</span>
                </div>

                <div class="form-group mb-6">
                    <label class="form-label">Пол</label>
                    <select class="form-select" v-model="form.gender">
                        <option value="male">Мужчина</option>
                        <option value="female">Женщина</option>
                    </select>
                    <span class="invalid-feedback" v-if="$page.errors.has('gender')">{{ $page.errors.first('gender') }}</span>
                </div>

                <div class="form-group mb-6">
                    <label class="form-label">Пароль</label>
                    <input type="password" class="form-input" v-model="form.password">
                    <span class="invalid-feedback" v-if="$page.errors.has('password')">{{ $page.errors.first('password') }}</span>
                </div>

                <div class="form-group">
                    <label class="form-label">Роль</label>
                    <select class="form-select" v-model="form.role">
                        <option
                            v-for="role in roles"
                            :key="role.id"
                            :value="role.id">
                                {{ role.name }}
                        </option>
                    </select>
                    <span class="invalid-feedback" v-if="$page.errors.has('role')">{{ $page.errors.first('role') }}</span>
                </div>
            </div>

            <div class="bg-gray-50 p-4 sm:px-6 sm:py-4 sm:flex sm:flex-row-reverse">
                <button type="button" class="btn btn-indigo" @click="submit()" :disabled="form.processing">
                    Добавить
                </button>

                <button type="button" class="btn btn-flat mr-3" @click="hide()">
                    Отменить
                </button>
            </div>
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'
import Form from '@/utils/form'

export default {
    components: {
        VModal
    },

    props: {
        user: Object,
        roles: Array,
    },

    data() {
        return {
            form: new Form({
                first_name: this.user.first_name,
                last_name: this.user.last_name,
                phone: this.user.phone,
                gender: this.user.gender,
                email: this.user.email,
                password: '',
                role: this.user.role.id,
            })
        }
    },

    methods: {
        show() {
            this.$refs.modal.show();
        },

        hide() {
            this.$refs.modal.hide();
        },

        submit() {
            this.form.processing = true;

            this.$inertia.put(route('users.update', { user : this.user.id }), this.form.data())
                .then(() => {
                    this.form.processing = false;

                    if (this.$page.errors.none()) {
                        this.hide();
                        this.form.reset();
                    }
                });
        }
    }
}
</script>
