<template>
  <tempalte>
    <inertia-link
        :href="route(item.route)"
        class="h-16 px-6 flex flex justify-center items-center w-full text-sm font-semibold transition-colors duration-150 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200 select-none focus:outline-none"
    >
        <span
            class="jam item.icon"
            :class="item.icon"
            data-width="24"
            data-height="24"
        >
        </span>
    </inertia-link>
  </tempalte>


</template>

<script>

export default {
  props: {
    item: {
      type: Object,
      required: true
    },
  },
}
</script>

<style scoped>
.jam {
  font-size: 24px;
}
</style>
