<template>
    <aside class="flex flex-wrap">
        <div
            class="flex flex-col items-center bg-white text-gray-900 shadow h-full">
            <!-- Side Nav Bar-->

            <div class="h-16 flex items-center w-full">
                <!-- Logo Section -->
                <a class="h-6 mx-auto font-semibold" href="#">
                    CRM
                </a>
            </div>

            <ul class="text-gray-500">
                <!-- Items Section -->
                <li
                    class="hover:bg-gray-100 text-gray-600"
                    v-for="(item, index) in menu"
                >
                    <a
                        v-if="item.children && item.children.length"
                        class="relative h-15 px-5 flex flex justify-center items-center w-full transition-colors duration-150 select-none focus:text-purple-700"
                        :key="index"
                        href="#"
                        @click.prevent="toggleSidebar"
                    >
                        <v-icon
                            :name="item.icon"
                            classes="w-6 h-6 fill-current"
                        />

                        <portal to="sidebar">
                            <h3 class="font-bold text-xl p-2">{{ item.title }}</h3>
                            <hr>
                            <div class="mt-2">
                                <inertia-link
                                    v-for="(child, childIndex) in item.children"
                                    :key="childIndex"
                                    :href="child.route"
                                    :class="{'item-child-active': child.active}"
                                    class="w-full block hover:bg-purple-500 hover:text-white px-5 py-3 rounded-md font-semibold mb-2"
                                >
                                    {{ child.title }}
                                </inertia-link>
                            </div>
                        </portal>
                    </a>
                    <inertia-link
                        class="relative h-15 px-5 flex flex justify-center items-center w-full transition-colors duration-150 select-none focus:text-purple-700"
                        :href="item.route"
                        :key="index"
                        v-else
                    >
                        <v-icon
                            :name="item.icon"
                            classes="w-6 h-6 fill-current"
                        />
                    </inertia-link>
                </li>
            </ul>

            <div class="mt-auto  flex flex-col items-center w-full">
                <button
                    class="h-10 w-10 mx-auto mb-2 justify-center items-center rounded-full focus:shadow-outline-purple focus:outline-none"
                    @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account"
                    aria-haspopup="true"
                >
                    <img
                        :src="$page.props.user.avatar_url"
                        class="object-cover w-10 h-10 rounded-full"
                        alt=""
                        aria-hidden="true"
                    />
                </button>

                <template v-if="isProfileMenuOpen">
                    <transition
                        name="notifications-menu-open"
                        leave-active-class="transition ease-in duration-150"
                        leave-class="opacity-100"
                        leave-to-class="opacity-0"
                    >
                        <ul

                            @click="closeProfileMenu"
                            @keydown.escape="closeProfileMenu"
                            class="z-50 absolute bottom-0 left-0 p-2 mt-2 my-auto ml-16 mb-1 w-56 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:text-gray-300 dark:border-gray-700 dark:bg-gray-700"
                            aria-label="submenu"
                        >
                            <li class="flex">
                                <a
                                    class="inline-flex justify-between items-center w-full px-2 py-2 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                    href="#"
                                >
                                    <span class="flex items-center">
                                      <v-icon name="message" classes="h-4 w-4 fill-current mr-3"/>
                                      Сообщения
                                    </span>
                                    <span
                                        class="relative inline-flex right-0 px-2 py-1 text-xs font-bold leading-none text-red-600 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-600"
                                    >
                                        13
                                    </span>
                                </a>
                            </li>
                            <li class="flex">
                                <inertia-link
                                    class="inline-flex items-center w-full px-2 py-2 text-sm font-semibold transition-colors duration-150 rounded-md  hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                    :href="route('profile.edit')"
                                >
                                    <v-icon name="user" classes="h-4 w-4 fill-current mr-3"/>
                                    <span>Профиль</span>
                                </inertia-link>
                            </li>
                            <li class="flex">
                                <span
                                    class="inline-flex items-center w-full px-2 py-2 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-red-100 hover:text-red-600 cursor-pointer"
                                    @click="logout"
                                >
                                    <v-icon name="exit" classes="h-4 w-4 fill-current mr-3"/>
                                    <span>Выйти</span>
                                </span>
                            </li>
                        </ul>
                    </transition>
                </template>
            </div>

        </div>


        <portal-target
            name="sidebar"
            class="fixed flex flex-col top-0 bottom-0 w-20 z-30 left-16 bg-white px-2 py-3 w-60 shadow"
            v-if="isSidebarOpen"
        >
        </portal-target>
    </aside>

</template>

<script>
export default {
    data () {
        return {
            sidebar: [],
            isProfileMenuOpen: false,
            isSidebarOpen: false,
        }
    },

    methods: {
        toggleProfileMenu () {
            this.isProfileMenuOpen = !this.isProfileMenuOpen
        },

        closeProfileMenu () {
            this.isProfileMenuOpen = false
        },

        toggleSidebar() {
            this.isSidebarOpen = !this.isSidebarOpen
        },

        logout () {
            this.$inertia.post(route('logout'));
        }
    },

    computed: {
        menu () {
            return this.$page.props.menu;
        }
    }
}
</script>


<style scoped>
.item-active {
    @apply absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg;
}

.item-child-active {
    @apply bg-purple-700 text-white;
}
</style>
