@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom Components
 */
@import "alerts";
@import "avatars";
@import "badges";
@import "button-group";
@import "buttons";
@import "transitions";
@import "utils";
@import "dropdown";
@import "forms";
@import "draggable";

@layer utilities {
    @variants responsive {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}
