.dropdown-menu {
    @apply rounded-md bg-white shadow-sm py-1;
}

.dropdown-item {
    @apply flex flex-row px-4 py-2 text-sm leading-5 text-gray-700;

    &:hover {
        @apply bg-gray-100 text-gray-900;
    }

    &:focus {
        @apply outline-none bg-gray-100 text-gray-900;
    }
}
