.form-input, .form-select, .form-textarea {
    @apply block w-full rounded-md shadow-sm transition duration-150 ease-in-out border border-gray-200;
    &:disabled {
        @apply bg-gray-50;
    }

    &:focus {
        @apply border-purple-400 outline-none shadow-none;
    }
}

@screen sm {
    .form-input, .form-select {
        @apply text-sm leading-5;
    }
}

.invalid-feedback {
    @apply mt-2 text-sm text-red-600;
}

.input-hint {
    @apply mt-2 text-sm text-gray-400;
}

.form-label {
    @apply block text-sm font-medium leading-5 text-gray-700;
}

.form-control {
    @apply relative rounded-md shadow-sm;
}

.form-group {
    @apply block w-full;

    > .form-label {
        @apply mb-1;
    }
}

.form-check {
    @apply absolute flex items-center h-5;
}

.form-check-label {
    @apply ml-2 block text-sm leading-5 text-gray-900;
}

.form-radio, .form-checkbox {
    @apply transition duration-150 ease-in-out text-purple-600 cursor-pointer h-5 w-5 border-2 border-gray-200;
    &:hover {
        @apply border-purple-400;
    }
    &:focus, &:active {
        @apply border-purple-600 text-purple-600 outline-none shadow-none shadow-none;
    }
}

.form-checkbox {
    @apply rounded-lg;
}
