<template>
    <transition name="fade">
        <div v-if="open" class="fixed inset-0 h-screen p-6 z-50" style="background-color: rgba(0, 0, 0, 0.40);">
            <div class="flex justify-center mx-auto w-auto h-screen items-center">
                <slot></slot>
            </div>
        </div>
    </transition>
</template>

<script>
    import {removeElement} from '@/utils/helpers'

    export default {
        props: {
            programmatic: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                open: false
            }
        },

        methods: {
            show() {
                this.open = true;
                document.querySelector('main').classList.remove('overflow-y-auto');
                this.$emit('modal:shown');
            },

            hide() {
                this.$emit('modal:hidden');
                document.querySelector('main').classList.add('overflow-y-auto');
                this.open = false;

                if (this.programmatic) {
                    setTimeout(() => {
                        this.$destroy();
                        removeElement(this.$el);
                    }, 150);
                }
            }
        }
    }
</script>
