<template>
    <div class="flex flex-col min-h-screen h-screen font-sans text-gray-800">
        <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img src="/img/logo_light.png" alt="logo" class="mx-auto h-24 w-auto select-none">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">Войдите в свой аккаунт</h2>
            </div>
            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow rounded-lg sm:px-10">
                    <form action="#" method="POST" @submit.prevent="submit()">
                        <label class="block text-sm mt-4">
                            <span class="text-gray-700 dark:text-gray-400">Email</span>
                            <input
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                placeholder="username@gmail.com" v-model="form.email">
                            <p class="invalid-feedback" v-if="form.errors.email">{{ form.errors.email }}</p>
                        </label>

                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Пароль</span>
                            <input
                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                placeholder="***************"
                                type="password"
                                v-model="form.password"
                            />
                            <p class="invalid-feedback" v-if="form.errors.password">{{ form.errors.password }}</p>

                        </label>

                        <div class="flex items-center justify-between mt-4">
                            <div class="flex items-center">
                                <input id="remember" type="checkbox"
                                       class="form-checkbox" v-model="form.remember">
                                <label for="remember" class="ml-2 block text-sm leading-5 text-gray-900">
                                    Запомнить меня
                                </label>
                            </div>
                            <div class="text-sm">
                                <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">Забыли пароль?</a>
                            </div>
                        </div>
                        <div class="mt-6">
                            <button type="submit"
                                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    :disabled="form.processing">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      form: this.$inertia.form({
        email: '',
        password: '',
        remember: false
      })
    }
  },

  methods: {
    submit () {
      this.form.processing = true;

      this.$inertia.post(route('login'), this.form);
    }
  }
}

</script>
