<template>
    <v-default-layout>
        <template>
            <div class="container px-6 mx-auto grid">
                <h2
                    class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    Blank
                </h2>
            </div>
        </template>
    </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'
export default {
    components: {
        VDefaultLayout
    }
}
</script>
