<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Добавить магазин</h1>

            <div class="px-0 sm:px-2 flex float-right flex items-center justify-end w-1/2">
                <button class="btn btn-purple" @click="submit">
                    Добавить
                </button>
            </div>
        </template>

        <template>
            <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">

            </div>
        </template>

    </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'

export default {
    components: {
        VDefaultLayout,
    },
}
</script>
