<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Магазины</h1>

            <div class="flex items-center justify-end w-full mb-4 sm:mb-0">
                <div class="px-0 sm:px-2">
                    <button
                        class="btn btn-purple"
                        @click="showCreateStoreModal()"
                    >
                        Добавить магазин
                    </button>
                </div>
            </div>
        </template>

        <template>
            <div class="flex flex-col">
                <div class="grid grid-cols-4 gap-6 pb-3">
                    <inertia-link
                        v-for="store in stores.data"
                        :key="store.id"
                        :href="route('manager:stores.show', { id: store.id })"
                        class="flex flex-col justify-center bg-white shadow p-4 w-full items-center rounded-lg hover:shadow-lg"
                    >
                        <img src="http://salom.crm.loc/tenancy/assets/2/oasis.png" class="avatar avatar-lg mb-1">

                        <div class="font-bold text-lg">{{ store.name }}</div>
                        <div class="flex p-2 w-full justify-center">
                            <div class="flex flex-col items-center m-1 w-full">
                                <span class="font-bold text-lg">10</span>
                                <span class="text-gray-500 text-sm">заказов</span>
                            </div>
                            <div class="flex flex-col items-center m-1 w-full">
                                <span class="font-bold text-lg">500 с.</span>
                                <span class="text-gray-500 text-sm"> счет</span>
                            </div>
                        </div>
                    </inertia-link>
                </div>

                <v-pagination
                    :links="stores.meta.links"
                    class="p-6 mx-2 flex flex-col xs:flex-row items-center xs:justify-between"
                />
            </div>
        </template>

    </v-default-layout>
</template>

<script>
import VPagination from '@/components/pagination/pagination'
import VDefaultLayout from '@/views/firm/layouts/default'
import VCreateStoreModal from "@/views/firm/manager/store/modal-store-create";

export default {
    components: {
        VDefaultLayout,
        VPagination,
    },

    props: {
        stores: Object,
    },

    methods: {
        showCreateStoreModal () {
            this.$modal( VCreateStoreModal );
        }
    }
}
</script>
