<template>
    <yandex-map
        :coords="coords"
        :zoom="10"
        @click="onClick"
    >
        <ymap-marker
            :coords="coords"
            marker-id="123"
            hint-content="some hint"
        />
    </yandex-map>
</template>

<script>
import VModal from "@/components/modal/modal";

export default {
    components: {
        VModal,
    },

    data: () => ({
        coords: [
            54.82896654088406,
            39.831893822753904,
        ],
    }),

    methods: {
        show () {
            this.$refs.modal.show();
        },

        hide () {
            this.$refs.modal.hide();
        },
    }
}
</script>

<style scoped>

</style>
