<template>
    <v-modal ref="modal">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                <div class="p-6">
                    <h3 class="font-medium text-lg">Добавить магазин</h3>
                </div>

                <div class="flex flex-col px-6">
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="store-name" class="form-label">Название</label>
                            <input id="store-name" class="form-input" v-model="form.name">
                            <p class="invalid-feedback" v-if="form.errors.name">
                                {{ form.errors.name }}</p>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-group">
                            <label for="store-address" class="form-label">Адрес</label>
                            <input id="store-address" class="form-input" v-model="form.address">
                            <p class="invalid-feedback" v-if="form.errors.address">
                                {{ form.errors.address }}</p>
                            <a class="block font-normal text-gray-500" @click.prevent="showMapModal()">Выбрать из карты</a>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-group">
                            <label for="store-phone" class="form-label">Номер телефона</label>
                            <input id="store-phone" class="form-input" v-model="form.phone">
                            <p class="invalid-feedback" v-if="form.errors.phone">
                                {{ form.errors.address }}</p>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-group">
                            <label for="store-logo" class="form-label">Логотип</label>
                            <v-input-file id="store-logo" v-model="form.logo"/>
                            <p class="invalid-feedback" v-if="form.errors.logo">
                                {{ form.errors.logo }}</p>
                        </div>
                    </div>

<!--                    <div class="mb-6">
                        <div class="form-group">
                            <label for="store-owner" class="form-label">Владелец</label>
                            <v-select-user
                                id="store-owner"
                                :users="users"
                                v-model="form.owner_id"
                                class=""
                            />
                        </div>
                    </div>-->
                    <div class="mb-6">
                        <div class="form-group">
                            <label class="form-label">Статус</label>

                            <div class="relative flex items-start">
                                <div class="form-check">
                                    <input id="status-active" type="radio" class="form-radio" value="active" v-model="form.status">
                                </div>

                                <div class="pl-7 text-sm leading-5">
                                    <label for="status-active" class="font-medium text-gray-700">
                                        Активный
                                    </label>
                                </div>
                            </div>

                            <div class="relative flex items-start mt-4">
                                <div class="form-check">
                                    <input id="status-closed" type="radio" class="form-radio" value="closed" v-model="form.status">
                                </div>

                                <div class="pl-7 text-sm leading-5">
                                    <label for="status-closed" class="font-medium text-gray-700">
                                        Закрыть
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-gray-50 p-4 sm:px-6 sm:py-4 sm:flex sm:flex-row-reverse">
                    <button type="button" class="btn btn-purple" @click="store()" :disabled="form.processing">
                        Добавить
                    </button>

                    <button type="button" class="btn btn-flat mr-3" @click="hide()">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'
import VMapModal from '@/views/firm/manager/store/modal-map'
import VSelectUser from '@/components/select-user';
import VInputFile from '@/components/input-file';

export default {
    components: {
        VModal,
        VMapModal,
        VSelectUser,
        VInputFile
    },

    data () {
        return {
            users: [],
            form: this.$inertia.form( {
                name: null,
                address: null,
                phone: null,
                additional_phone: null,
                owner_id: null,
                status: null,
                lat: '',
                lng: '',
                logo: '',
            } )
        }
    },

    methods: {
        show () {
            this.$refs.modal.show();
        },

        hide () {
            this.$refs.modal.hide();
        },

        /*showMapModal() {
            this.$modal( VMapModal );
        },*/

        store () {
            this.form.processing = true;

            this.$inertia
                .post(route('manager:stores.store'), this.form, {
                    onSuccess () {
                        this.form.processing = false;

                        this.hide();
                        this.form.reset();
                    },
                    onError ( errors ) {
                        this.form.processing = false;

                        console.log( 'Has error!' );
                        console.error( errors )
                    }
                } )
        },
    },

    async mounted () {
        await axios.get(route('api.users.list'))
            .then(response => {
                this.users = response.data;
            })
            .catch(error => {
                console.error(error);
            });
    }
}
</script>
