<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Магазин</h1>
        </template>

        <template>
            <div class="grid grid-cols-12 gap-6">
                <div class="flex flex-col col-span-3 text-center">
                    <div class="bg-white shadow-sm rounded-lg p-4 w-full">
                        <img src="http://salom.crm.loc/tenancy/assets/2/oasis.png" class="avatar avatar-xl mb-1 -mt-12">

                        <div class="p-2">
                            <h2 class="font-bold uppercase text-gray-800 tracking-wider">
                                {{ store.name }}
                            </h2>
                        </div>
                    </div>

                    <div class="flex flex-col bg-white shadow-sm rounded-lg p-4 w-full mt-6">
                        <div class="items-center text-center mb-2">
                            <span class="font-bold text-sm uppercase text-gray-600 tracking-wider">О магазине</span>
                        </div>

                        <div class="text-left">
                            <div class="mb-2">
                                <div class="uppercase text-gray-400 font-medium text-sm mb-0.5">
                                    Адрес
                                </div>
                                <div class="font-bold text-sm">
                                    {{ store.address }}
                                </div>
                            </div>

                            <div class="mb-2">
                                <div class="uppercase text-gray-400 font-medium text-sm mb-0.5">
                                    Номер телефона
                                </div>
                                <div class="font-bold text-sm">
                                    {{ store.phone }}
                                </div>
                            </div>

                            <div class="mb-2">
                                <div class="uppercase text-gray-400 font-medium text-sm mb-0.5">
                                    Доп. номер телефона
                                </div>
                                <div class="font-bold text-sm">
                                    {{ store.additional_phone }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col bg-white shadow-sm rounded-lg p-4 w-full mt-6">
                        <div class="items-center text-center mb-2">
                            <span class="font-bold text-sm uppercase text-gray-600 tracking-wider">Владелец</span>
                        </div>

                        <div class="flex">
                            <div class="flex">
                                <img :src="store.owner.avatar_url" alt="" class="avatar">
                            </div>

                            <div class="ml-3 leading-4 items-center flex-grow text-left whitespace-nowrap">
                                <h2 class="font-semibold leading-6">
                                    {{ store.owner.full_name }}
                                </h2>
                                <span class="text-xs text-gray-400">
                                    {{ store.owner.phone }}
                                </span>
                            </div>

                            <button class="align-middle text-gray-500 hover:text-purple-600">
                                <v-icon name="phone" class="w-5 h-5 fill-current" />
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-span-9">
                    <v-tabs>
                        <v-tab class="p-6" name="Статистика" active>
                            <v-tab-stats :storeId="store.id" />
                        </v-tab>
                        <v-tab class="p-6" name="Заказы">
                            <v-tab-orders :storeId="store.id" />
                        </v-tab>
                    </v-tabs>
                </div>
            </div>
        </template>

    </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'
import VTabOrders from '@/views/firm/manager/store/tab-orders'
import VTabStats from '@/views/firm/manager/store/tab-stats'
import VTabs from '@/components/tabs/tabs'
import VTab from '@/components/tabs/tab'

export default {
    components: {
        VDefaultLayout,
        VTabOrders,
        VTabs,
        VTab
    },

    props: {
        store: Object,
    }
}
</script>
