<template>
    <div class="overflow-hidden rounded-lg shadow-sm bg-white">
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr class="text-xs font-semibold text-gray-500 tracking-wide text-left uppercase">
                <th class="px-2 w-px py-4 sticky">
                    <label
                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                        <input
                            type="checkbox"
                            class="form-checkbox"
                            v-model="selectAll">
                    </label>
                </th>
                <th class="px-6 py-4">Номер</th>
                <th class="px-6 py-4">Клиент</th>
                <th class="px-6 py-4">Сумма</th>
                <th class="px-6 py-4">Статус</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y">
            <tr
                class="text-gray-700 dark:text-gray-400 bg-white hover:bg-purple-50 transition duration-150 ease-in-out border-t w-full"
                v-for="order in orders.data"
                :key="order.id"
            >
                <td class="px-2 py-3">
                    <label
                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                        <input
                            type="checkbox"
                            class="form-checkbox"
                            v-model="selectedRows"
                            :value="order.id"
                        >
                    </label>
                </td>
                <td class="px-4 py-3">
                    <p class="text-sm font-semibold">{{ order.order_no }}</p>
                </td>
                <td class="px-4 py-3">
                    <p class="text-sm font-semibold">{{ order.customer.full_name }}</p>
                </td>
                <td class="px-4 py-3">
                    <p class="text-sm font-semibold">{{ order.total }}</p>
                </td>
                <td class="px-4 py-3">
                    <p class="badge" :class="'badge-' + order.status.color">{{ order.status.name }}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        storeId: Number,
    },

    data() {
        return {
            selectedRows: [],
            orders: {
                data: {},
                links: {},
                meta: {}
            },
        }
    },

    mounted () {
        this.getOrders();
    },

    methods: {
        deleteRows () {
            this.$inertia.post( route( 'store:orders.destroy' ), this.selectedRows, {
                onSuccess: () => {
                    this.selectedRows = [];
                    console.log( ':)' );
                },
                onError: ( error ) => {
                    console.log( error )
                }
            } )
        },

        getOrders() {
            axios.get(route('api.orders.index', {
                store: this.storeId,
                customer: true
            }))
            .then((response) => {
                this.orders = response.data
            })
            .catch((error) => {
                console.error(error)
            })
        }
    },

    computed: {
        selectAll: {
            get: function () {
                return this.orders.data.length ? this.selectedRows.length === this.orders.data.length : false;
            },
            set: function ( value ) {
                var selectedRows = [];

                if (value) {
                    this.orders.data.forEach( function ( order ) {
                        selectedRows.push( order.id );
                    } );
                }

                this.selectedRows = selectedRows;
            }
        }
    },
}
</script>
