<template>
  <v-default-layout>
    <template v-slot:header>
      <h1 class="text-2xl font-semibold text-gray-900 w-1/2">Добавление продукта</h1>

      <div class="px-0 sm:px-2 flex float-right flex items-center justify-end w-1/2">
        <button class="btn btn-purple" @click="submit">
          Добавить
        </button>
      </div>

    </template>

    <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">

      <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-8 px-4 py-3 mb-8 bg-white rounded-lg shadow dark:bg-gray-800">

          <div class="form-group">
            <label for="product-name" class="form-label">Название</label>
            <input id="product-name" class="form-input" placeholder="Snikers" v-model="form.name">
            <p class="invalid-feedback" v-if="$page.errors.has('name')">{{ $page.errors.first('name') }}</p>
          </div>

          <div class="form-group mt-4">
            <label for="product-barcode" class="form-label">Штрихкод</label>
            <input id="product-barcode" class="form-input" placeholder="4465856523" v-model="form.barcode">
            <p class="invalid-feedback" v-if="$page.errors.has('barcode')">{{ $page.errors.first('barcode') }}</p>
          </div>

          <div class="mt-4 flex flex-col md:flex-row">
            <label class="text-sm">
              <span class="text-gray-700 dark:text-gray-400">Категории</span>
              <treeselect
                  class="mt-1 text-sm"
                  :multiple="true"
                  :options="$page.categories"
                  :normalizer="normalizer"
                  placeholder="Select your favourite(s)..."
                  v-model="form.categories"
              />
            </label>

            <label class="ml-2 text-sm">
              <span class="text-gray-700 dark:text-gray-400">Теги</span>
              <treeselect
                  class="mt-1 text-sm"
                  :multiple="true"
                  :options="$page.tags"
                  :normalizer="normalizer"
                  placeholder="Выберите теги"
                  v-model="form.tags"
              />
            </label>
          </div>

          <div class="form-group mt-4">
            <label for="product-manufacture" class="form-label">Производитель</label>
            <treeselect
                id="product-manufacture"
                class="mt-1 text-sm"
                :options="$page.manufactures"
                :normalizer="normalizer"
                placeholder="Выберите производителя"
                v-model="form.manufacture_id"
            />
            <p class="invalid-feedback" v-if="$page.errors.has('manufacture')">{{ $page.errors.first('manufacture') }}</p>
          </div>

          <div class="form-group mt-4">
            <label for="product-short-description" class="form-label">Краткое описание</label>
            <textarea
                id="product-short-description"
                class="form-input"
                rows="3"
                v-model="form.short_description"
                placeholder="Snickers — марка шоколадных батончиков с жареным арахисом, карамелью и нугой, покрытых сверху молочным шоколадом. "></textarea>
            <p class="invalid-feedback" v-if="$page.errors.has('short_description')">{{ $page.errors.first('short_description') }}</p>
          </div>

          <div class="form-group mt-4">
            <label for="product-description" class="form-label">Краткое описание</label>
            <textarea
                id="product-description"
                class="form-input"
                rows="3"
                v-model="form.description"
                placeholder="Snickers — марка шоколадных батончиков с жареным арахисом, карамелью и нугой, покрытых сверху молочным шоколадом. "></textarea>
            <p class="invalid-feedback" v-if="$page.errors.has('description')">{{ $page.errors.first('description') }}</p>
          </div>

        </div>
        <div class="col-span-4">
          <file-pond
              allow-multiple="true"
              accepted-file-types="image/jpeg, image/png"
              imagePreviewHeight={300}
              name="images"
              v-bind:files="form.images"
              max-files="8"
              instant-upload="false"
              v-on:updatefiles="handleFilePondUpdateFile"
              ref="images"
              label-idle="Перетащите изображения сюда или <span class='filepond--label-action'> Выберите </span>">
          </file-pond>
        </div>
      </div>

    </div>
  </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import Form from '@/utils/form'

// Import FilePond
import vueFilePond from 'vue-filepond';

// Import plugins
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.esm.js';
import FilePondPluginImagePreview from 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.esm.js';

// Import styles
import 'filepond/dist/filepond.min.css';
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

// Create FilePond component
const FilePond = vueFilePond( FilePondPluginFileValidateType, FilePondPluginImagePreview);


export default {
  components: {
    VDefaultLayout,
    Treeselect,
    FilePond,
  },

  data () {
    return {
      normalizer(node) {
        return {
          label: node.name,
        }
      },
      form: new Form( {
        name: '',
        barcode: '',
        short_description: '',
        description: '',
        manufacture_id: null,
        categories: [],
        tags: [],
        processing: false,
        images: [],
      })
    }
  },

  methods: {
    submit () {
      this.form.processing = true;

      var data = new FormData();
      data.append('name', this.form.name || '');
      data.append('barcode', this.form.barcode || '');
      data.append('manufacture_id', this.form.manufacture_id || '');
      data.append('categories', this.form.categories || []);
      data.append('tags', this.form.tags || '');
      data.append('short_description', this.form.short_description || '');
      data.append('description', this.form.description || '');

      for (var i = 0; i < this.form.images.length; i++) {
        let file = this.form.images[i];
        data.append("images[" + i + "]", file);
      }

      this.$inertia.post(route('store:products.store'), data )
          .then( () => this.form.processing = false );
    },

    handleFilePondUpdateFile(files){
      this.form.images = files.map(files => files.file);
    },
  },
}
</script>

<style>
.filepond--panel-root {
  @apply rounded-lg shadow bg-white;
}

.filepond--item {
  width: calc(50% - .5em);
}

@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - .5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(33.33% - .5em);
  }
}


</style>
