<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="text-2xl font-semibold text-gray-900">Прайс-лист</h1>
        </template>

        <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">
            <div class="flex flex-col sm:flex-row flex-col-reverse items-center justify-between mb-6">
                <div class="w-full sm:w-1/2">
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <div class="relative flex-grow focus-within:z-10">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400 fill-current" viewBox="0 0 20 20">
                                    <path
                                        d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                                </svg>
                            </div>

                            <input
                                class="form-input block w-full rounded-none rounded-l-md pl-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                placeholder="Поиск..."
                            />
                        </div>

                        <v-dropdown>
                            <template v-slot:button>
                                <button class="btn btn-gray leading-6 sm:text-sm sm:leading-5 -ml-px rounded-l-none">
                                    <svg class="h-4 w-4 text-gray-400 fill-current" viewBox="0 0 20 20">
                                        <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"></path>
                                    </svg>
                                    <span class="ml-2">Фильтры</span>
                                </button>
                            </template>

                            <template v-slot:content>
                                <div class="dropdown-menu p-4">
                                    <div class="form-group">
                                        <label class="form-label">Статус</label>
                                        <select class="form-select">
                                            <option :value="null">Все</option>
                                            <option value="ongoing">В продаже</option>
                                            <option value="overdue">На модерации</option>
                                            <option value="completed">Скрытие</option>
                                        </select>
                                    </div>
                                </div>
                            </template>
                        </v-dropdown>
                    </div>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-start">
                <div class="w-screen md:w-1/4 rounded shadow bg-white flex flex-col px-6 pt-6 pb-6 mr-4 mb-4 md:mb-0">
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="price-list-price" class="form-label">Продукт</label>
                            <v-select-product v-model="form.product_id"></v-select-product>
                            <p class="invalid-feedback" v-if="errors.has('product_id')">
                                {{ errors.first( 'product_id' ) }}</p>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="price-list-price" class="form-label">Цена</label>
                            <input id="price-list-price" class="form-input" v-model="form.price">
                            <p class="invalid-feedback" v-if="errors.has('price')">
                                {{ errors.first( 'price' ) }}</p>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="price-list-old-price" class="form-label">Старая цена</label>
                            <input id="price-list-old-price" class="form-input" v-model="form.old_price">
                            <p class="invalid-feedback" v-if="errors.has('old_price')">
                                {{ errors.first( 'old_price' ) }}</p>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="price-list-quantity" class="form-label">Количество</label>
                            <input id="price-list-quantity" class="form-input" v-model="form.quantity">
                            <p class="invalid-feedback" v-if="errors.has('quantity')">
                                {{ errors.first( 'quantity' ) }}</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-purple w-full" @click="add">Добавить</button>
                    </div>
                </div> <!-- первый блок -->
                <div class="w-screen  md:w-3/4 overflow-hidden rounded shadow bg-white">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr class="text-xs font-semibold text-gray-500 tracking-wide text-left uppercase">
                                <th class="px-2 w-px py-4 sticky top-0">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox"
                                            v-model="selectAll"
                                            :disabled="!priceList.data.length"
                                        >
                                    </label>
                                </th>
                                <th class="px-2 py-4">Название</th>
                                <th class="px-2 py-4">Цена</th>
                                <th class="px-2 py-4">Старая цена</th>
                                <th class="px-2 py-4">Количесво</th>
                                <th class="px-2 py-4">Статус</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y">
                            <template v-if="priceList.data && priceList.data.length">
                                <tr
                                    class="text-gray-700 dark:text-gray-400 bg-white hover:bg-purple-50 transition duration-150 ease-in-out border-t w-full"
                                    v-for="item in priceList.data"
                                    :key="item.id"
                                >

                                    <td class="px-2 py-3">
                                        <label
                                            class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                                            <input
                                                type="checkbox"
                                                class="form-checkbox"
                                                v-model="selectedRows"
                                                :value="item.id"
                                            >
                                        </label>
                                    </td>
                                    <td class="px-2 py-3">
                                        <p class="font-semibold">
                                            {{ item.product.name }}
                                        </p>
                                    </td>
                                    <td class="px-2 py-3">
                                        {{ item.price }}
                                    </td>
                                    <td class="px-2 py-3">
                                        {{ item.old_price }}
                                    </td>
                                    <td class="px-2 py-3">
                                        {{ item.quantity }}
                                    </td>
                                    <td class="px-2 py-3">
                                    <span v-if="item.status === 'in_stock'" class="px-2 py-1 badge badge-green">
                                      Есть в наличии
                                    </span>
                                        <span v-if="item.status === 'out_stock'" class="px-2 py-1 badge badge-red">
                                      Нет на складе
                                    </span>
                                    </td>
                                </tr>
                            </template>

                            <template v-else>
                                <tr>
                                    <td colspan="10" class="p-2 text-center bg-purple-50 font-medium text-gray-900">Наименование пока что отсутствуют.</td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t sm:grid-cols-9">
                        <div class="flex items-center col-span-3">
                            <button
                                class="duration-150 text-gray-400 cursor-default"
                                :class="{ 'cursor-pointer': selectedRows.length, 'hover:text-red-600': selectedRows.length }"
                                :disabled="!selectedRows.length"
                                @click="deleteRows()"
                            >
                                <v-icon name="trash-alt" classes="h-5 w-5 fill-current"/>
                            </button>

                            <div class="form-group ml-4 w-auto">
                                <select class="form-select" :disabled="!selectedRows.length"
                                        @change="updateStatuses($event)">
                                    <option :value="null">Изменить статус</option>
                                    <option v-for="(status, key) in statuses" :value="key">
                                        {{ status }}
                                    </option>
                                </select>
                            </div>

                        </div>
                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <!--<span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                          <v-pagination :links="$page.priceList.links"></v-pagination>
                        </span>-->
                    </div>
                </div>
            </div>
        </div>
    </v-default-layout>
</template>

<script>
import VDropdown from '@/components/dropdown'
import VPagination from '@/components/pagination'
import VSelectProduct from "@/components/select-product/select-product";
import Form from "@/utils/form";
import VDefaultLayout from '@/views/firm/layouts/default'
import { Inertia } from "@inertiajs/inertia";

export default {
    components: {
        VSelectProduct,
        VDefaultLayout,
        VDropdown,
        VPagination,
    },
    props: {
        overhead: Object,
        priceList: Object,
        statuses: Object,
        errors: Object,
    },
    data () {
        return {
            statusOpen: false,
            selectedRows: [],
            form: new Form( {
                product_id: null,
                quantity: '',
                price: '',
                old_price: '',
                discount_id: null,
            } ),
        }
    },

    methods: {
        add () {
            this.$inertia.post( route( 'store:overheads.price_list.store', {overhead: this.overhead.id}), this.form.data(), {
                onSuccess: () => {
                    this.processing = false;
                },
                onError: ( error ) => {
                    console.error( error );
                }
            })
        },

        updateStatuses ( event ) {
            axios.post( route( 'api.price_list.update_statuses' ), {
                price_list: this.selectedRows,
                status: event.target.value
            } )
                .then( () => {
                    Inertia.reload( {
                        only: ['priceList']
                    } )
                } );
        },

        deleteRows () {
            this.$inertia.post( route( 'store:price_list.destroy' ), this.selectedRows, {
                onSuccess: () => {
                    console.log( ':)' );
                },
                onError: ( error ) => {
                    console.error( error )
                }
            } )
        },
    },

    computed: {
        selectAll: {
            get: function () {
                return this.priceList.data.length ? this.priceList.data.length === this.selectedRows.length : false;
            },
            set: function ( value ) {
                let selectedRows = [];

                if (value) {
                    this.priceList.data.forEach( function ( item ) {
                        selectedRows.push( item.id );
                    } );
                }

                this.selectedRows = selectedRows;
            }
        }
    }
}
</script>
