<template>
  <v-default-layout>
    <div class="container mx-auto px-4 sm:px-6 md:px-8 py-4">
      <div class="grid grid-cols-12 gap-6 mt-5">
      </div>
    </div>
  </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'

export default {
  components: {
    VDefaultLayout,
  },
}
</script>

<style scoped>

</style>
