<template>
    <v-renderless-select
        :items="products"
        mode="single"
        item-text="name"
        item-value="id"
        v-model="selectedProduct"
        toggle-select
        @input="$emit('input', selectedProduct.id)"
    >
        <div class="flex items-center" slot-scope="{ items : products, search, isSelected, select, selected }">
            <v-dropdown :placement="placement" class="w-full">
                <template v-slot:button>
                    <slot name="button" v-bind="{ selected }">
                        <input class="form-input" placeholder="Поиск" @input="search($event.target.value)"
                               v-model="searchQuery">
                    </slot>
                </template>

                <template v-slot:content>
                    <div class="dropdown-menu" v-show="products && products.length">
                        <div class="flex flex-col">
                            <div class="overflow-y-auto">
                                <a href="#" class="dropdown-item flex items-center" v-for="product in products" :key="product.id" @click.prevent="select(product)">
                                    <div class="flex-shrink-0 flex items-center">
                                        <div
                                            v-if="selectedProduct && selectedProduct.id === product.id"
                                            class="inline-flex w-5 h-5 justify-center items-center text-xs bg-green-400 text-white rounded-full"
                                        >
                                            <v-icon name="check" classes="fill-current w-4 h-4" />
                                        </div>
                                    </div>

                                    <div
                                        class="text-sm leading-5 text-gray-700 group-hover:text-gray-900 truncate pl-4">
                                        {{ product.name }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
            </v-dropdown>
        </div>
    </v-renderless-select>
</template>

<script>
import VDropdown from '@/components/dropdown'
import VRenderlessSelect from '@/components/renderless/select'

export default {
    components: {
        VRenderlessSelect,
        VDropdown
    },

    props: {
        value: {
            type: [Array, String, Number, Object],
            default: null
        },
        placement: {
            type: String,
            default: 'left-0'
        }
    },

    data () {
        return {
            selectedProduct: '',
            products: [],
            searchQuery: '',
        }
    },

    watch: {
        /*value(val) {
         this.selectedProduct = val;
         },*/

        searchQuery(query) {
            if (query.length > 1) {
                axios.get(route('api.products.index', { name: query }))
                    .then((response) => {
                        this.products = response.data
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            }
        },

        selectedProduct(value) {
            this.searchQuery = value.name;
        },
    },
}
</script>
