<template>
    <div
        class="flex flex-col bg-white rounded-lg shadow mb-3 select-none focus:outline-none cursor-pointer w-72"
        @click.prevent="$emit('click', order)"
    >
            <span
                class="select-none focus:outline-none px-4 py-2 font-semibold"
            >
                #{{ order.order_no }} - {{ order.store.name }}
            </span>

        <div class="flex items-center text-sm justify-between text-gray-500 px-4 pb-2">
            <div class="flex text-sm text-gray-500 w-full">
                <div class="flex mr-4" v-if="order.store !== null">
                    Сумма:
                    <span class="ml-1 font-bold">
                        {{ order.amount }} с.
                    </span>
                </div>
                <div class="flex" v-if="order.created !== null">
                    Время:
                    <span class="ml-1 font-bold">
                        {{ order.created }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        order: {
            type: Object,
            required: true
        }
    }
}
</script>
