<template>
        <div class="max-w-xs flex flex-col h-full rounded-lg mr-4 shadow-sm bg-gray-200 max-w-xs min-w-80 w-80">
            <div class="items-center text-center p-4">
                <span class="font-bold uppercase text-gray-600">{{ status.name }}</span>
            </div>

            <div class="flex flex-col h-full px-4 overflow-y-auto no-scrollbar">
                <v-draggable
                    :data-status="status.id"
                    class="flex flex-col flex-1"
                    ghost-class="draggable-ghost"
                    group="orders"
                    v-model="status.orders"
                    v-bind="{ fallbackTolerance: 5 }"
                    @end="$emit('order-status-change', $event)"
                >
                    <v-card-order
                        :key="order.id"
                        :order="order"
                        @click="$emit('order-click', order)"
                        v-for="order in status.orders"
                    />
                </v-draggable>
            </div>
        </div>
</template>

<script>
import VDropdown from '@/components/dropdown'
import Form from '@/utils/form'
import VCardOrder from '@/views/firm/manager/order/card-order'
import VDraggable from 'vuedraggable'

export default {
    components: {
        VDraggable,
        VCardOrder,
        VDropdown
    },

    props: {
        status: {
            type: Object,
            required: true
        }
    },

    data () {
        return {
            addOrderForm: new Form( {
                content: null,
                visible: false
            } )
        }
    },

    methods: {
        hideAddOrderForm () {
            this.addOrderForm.reset();
        },
    }
}
</script>
