<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Заказы</h1>
        </template>

        <template>
            <div class="flex flex-1 max-h-screen h-full overflow-x-auto pb-3 no-scrollbar">
                <v-card-order-status-column
                    v-for="status in orderStatuses"
                    :key="status.id"
                    :status="status"
                    @order-click="showOrderModal"
                    @order-status-change="onOrderStatusChange"
                />
            </div>
        </template>
    </v-default-layout>
</template>

<script>
import VDropdown from '@/components/dropdown'
import VDefaultLayout from '@/views/firm/layouts/default'
import VCardOrderStatusColumn from '@/views/firm/manager/order/card-order-status-column'
import VOrderModal from '@/views/firm/manager/order/modal-order'
import VDraggable from 'vuedraggable'

export default {
    metaInfo() {
        return {
            title: 'Заказы',
        }
    },

    components: {
        VDefaultLayout,
        VDropdown,
        VDraggable,
        VCardOrderStatusColumn,
        VOrderModal
    },

    props: {
        orders: Object,
        orderStatuses: Array,
    },

    data () {
        return {
            orderStatus: [],
        }
    },

    methods: {
        onOrderStatusChange ( e ) {
            let from = +e.from.dataset.status;
            let to = +e.to.dataset.status;

            if (from !== to) {
                this.changeOrderStatus( from );
                this.changeOrderStatus( to );
            }
        },

        showOrderModal ( order ) {
            this.$modal( VOrderModal, { order_id: order.id } );
        },

        changeOrderStatus ( statusId ) {
            let statusIndex = this.orderStatuses.findIndex( s => s.id === statusId );
            let index = this.orderStatuses[statusIndex].orders.length - 1;

            this.orderStatuses[statusIndex].orders.forEach( ( order, orderIndex ) => {
                this.orderStatuses[statusIndex].orders[orderIndex].index = index;
                index--;
            } );

            this.$inertia.post( route( 'manager:orders.status.update', {
                status_id: statusId
            } ), {
                orders: this.orderStatuses[statusIndex].orders.map( order => order.id ).reverse()
            } );
        }
    },

    computed: {},
}
</script>
