<template>
    <v-modal ref="modal">
        <div class="flex flex-row shadow-xl transform transition-all sm:max-w-3xl h-auto" v-if="!loading">
            <div class="flex flex-col bg-gray-50 rounded-l-lg p-4 h-auto w-auto">
                <h1 class="font-medium text-lg mb-3 text-center text-gray-600">Заказ <span
                    class="text-gray-900 font-semibold">#{{ order.order_no }}</span></h1>

                <div class="mb-3" v-if="order.customer">
                    <span class="flex text-sm font-semibold text-gray-500 mb-2 text-center ml-1">Клиент</span>
                    <div class="bg-white p-3 rounded-lg whitespace-no-wrap">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 h-10 w-10">
                                <img src="http://salom.crm.loc/tenancy/assets/2/sheroz.jpg" alt="Sheroz Juraev"
                                     class="avatar avatar-md">
                            </div>
                            <div class="ml-2 flex-grow">
                                <div class="text-sm leading-5 font-medium text-gray-900">{{ order.customer.full_name }}</div>
                                <div class="text-sm leading-5 text-gray-500">{{ order.customer.phone }}</div>
                            </div>
                            <div class="ml-6">
                                <button class="align-middle text-gray-400 hover:text-purple-500">
                                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         style="transform: matrix(-1, 0, 0, 1, 0, 0);">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <span
                        class="flex text-sm font-semibold text-gray-500 mb-2 text-center ml-1">Информация о заказе</span>
                    <div class="bg-white p-3 rounded-lg whitespace-no-wrap text-gray-500">
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                19 мкр, 25 д., 21 кв.
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                {{ order.created }}
                            </div>
                        </div>
                        <div class="flex items-center mb-2" v-if="order.payment_method">
                            <div class="flex-shrink-0">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
                                </svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                {{ order.payment_method.name }}
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                                </svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                {{ order.note }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3" v-if="order.store">
                    <span class="flex text-sm font-semibold text-gray-500 mb-2 text-center ml-1">Магазин</span>
                    <div class="bg-white p-3 rounded-lg whitespace-no-wrap flex items-center">
                        <img src="http://salom.crm.loc/tenancy/assets/2/oasis.png" class="avatar avatar-md">
                        <div class="flex w-full">
                            <div class="ml-2 flex-grow leading-5 font-semibold text-gray-900">
                                {{ order.store.name }}
                            </div>
                            <div>
                                <button class="align-middle text-gray-500 hover:text-purple-600">
                                    <v-icon name="phone" class="w-5 h-5 fill-current" />
                                </button>
                                <button class="ml-1 align-middle text-gray-500 hover:text-purple-600">
                                    <v-icon name="message" class="w-5 h-5 fill-current" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <span class="flex text-sm font-semibold text-gray-500 mb-2 text-center ml-1">Курьер</span>
                    <a
                        href="#"
                        @click.prevent="showCourierModal"
                        v-if="order.courier"
                    >
                        <div class="bg-white p-3 rounded-lg whitespace-no-wrap">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    <img :src="order.courier.avatar_url" alt="" class="avatar avatar-md">
                                </div>
                                <div class="ml-2 flex-grow">
                                    <div class="text-sm leading-5 font-medium text-gray-900">{{
                                            order.courier.full_name
                                        }}
                                    </div>
                                    <div class="text-xs leading-5 text-gray-500">Расчетное время прибытия: 3 мин.</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button
                        class="flex flex-row btn btn-purple w-full"
                        @click="showAssignCourierToOrderModal"
                        v-else
                    >
                        <v-icon name="user-plus" class="w-4 h-4 mr-1 fill-current"></v-icon>
                        Назначить курьера
                    </button>
                </div>
            </div>
            <div class="flex flex-col bg-white rounded-r-lg h-auto p-4">
                <div class="flex mb-4">
                    <h1 class="flex-grow font-medium text-lg text-gray-600">Список продкутов</h1>

                    <div class="pl-3 flex-none">
                        <button @click="hide()" class="btn btn-sm btn-flat">
                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="flex pb-6 h-full">
                    <ul class="w-full">
                        <li v-for="item in order.items" :key="item.id" class="flex flex-row w-full">
                            <span class="flex-none text-gray-400 font-medium">{{ item.quantity }} x</span>
                            <span class="text-gray-600 flex-grow ml-1">{{ item.product_name }}</span>
                            <span class="text-gray-600 flex-none font-semibold ml-1">{{ item.total }} сом.</span>
                        </li>
                    </ul>
                </div>

                <div class="flex flex-row bg-gray-50 rounded-lg px-4 py-2 text-center whitespace-pre">
                    <div class="flex flex-col font-semibold">
                        <span class="text-gray-500">Сумма заказа</span>
                        <span>{{ order.amount }} сом.</span>
                    </div>

                    <div class="flex flex-col font-semibold ml-8">
                        <span class="text-gray-500">Доставка</span>
                        <span>Бесплатно</span>
                    </div>

                    <div class="flex flex-col font-semibold ml-8">
                        <span class="text-gray-500">Всего</span>
                        <span>{{ order.total }} сом.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center bg-white h-20 w-20 rounded-lg"
            v-else>
            <v-icon name="spinner-alt" classes="h-5 w-5 fill-current w-10 h-10 animate-spin-slow text-gray-500" />
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'
import VCourierModal from '@/views/firm/courier/modal-courier'
import VAssignCourierToOrderModal from '@/views/firm/manager/order/modal-assign-courier-to-order'

export default {
    components: {
        VModal,
        VAssignCourierToOrderModal,
    },

    props: {
        order_id: {
            type: Number,
            required: true,
        }
    },

    data () {
        return {
            loading: false,
            order: {},
        }
    },

    methods: {
        show () {
            this.$refs.modal.show();
        },

        hide () {
            this.$refs.modal.hide();
        },

        showCourierModal () {
            this.$modal( VCourierModal, {courierId: this.order.courier.id} );
        },

        showAssignCourierToOrderModal () {
            this.$modal( VAssignCourierToOrderModal, {orderId: this.order.id} );
        }
    },

    mounted () {
        this.loading = true;
        axios.get( route( 'api.orders.show', {id: this.order_id} ) )
            .then(response => {
                this.loading = false;
                this.order = response.data;
            })
            .catch(error => {
                console.error(error);
            });
    }
}
</script>
