<template>
    <v-modal ref="modal">
        <div class="flex flex-col bg-white rounded-lg p-4 shadow-xl transform transition-all sm:max-w-3xl h-auto">
            <div class="flex mb-4">
                <h1 class="flex-grow font-medium text-lg text-gray-600">Назначение курьера</h1>

                <div class="pl-3 flex-none">
                    <button @click="hide()" class="btn btn-sm btn-flat">
                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div v-if="couriers && couriers.length">
                <div
                    class="bg-gray-50 p-3 mb-3 rounded-lg whitespace-no-wrap shadow-xs hover:border cursor-pointer"
                    v-for="courier in couriers"
                    :key="courier.id"
                    @click="assignCourierToOrder(courier.id)"
                >
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                            <img :src="courier.avatar_url" alt="" class="avatar avatar-md">
                        </div>
                        <div class="ml-2 flex-grow">
                            <div class="text-sm leading-5 font-bold text-gray-900">{{ courier.full_name }}</div>
                            <div class="text-sm leading-5 text-gray-500">Расчетное время прибытия: 3 мин.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2" v-else>
                <span class="p-4 rounded-lg font-medium text-sm bg-red-400 text-white">В данный момент нет свободных курьеров</span>
            </div>
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'

export default {
    components: {
        VModal
    },

    props: {
        orderId: {
            type: Number,
            required: true
        }
    },

    data() {
        return {
            couriers: '',
            loading: true
        }
    },

    methods: {
        show() {
            this.$refs.modal.show();
        },

        hide() {
            this.$refs.modal.hide();
        },

        assignCourierToOrder(courierId) {
            axios.put(route('api.orders.assign_courier', {id: this.orderId}), {
                courier_id: courierId
            })
            .then(response => {
                this.hide();
            })
            .catch(error => {
                console.error(error);
            });
        }
    },

    mounted () {
        axios.get(route('api.couriers.index'))
        .then(response => {
            this.loading = false
            this.couriers = response.data
        })
        .catch(error => console.log(error))
    }
}
</script>
