<template>
    <v-modal ref="modal">
        <div class="flex flex-row shadow-xl transform transition-all sm:max-w-3xl h-auto">
            <div class="flex flex-col bg-gray-50 rounded-l-lg p-4 h-auto w-auto">
                <h1 class="font-medium text-lg mb-3 text-center text-gray-600">Курьер</h1>

                <div class="bg-white p-3 rounded-lg whitespace-no-wrap mb-3">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                            <img :src="courier.avatar_url" alt="" class="avatar avatar-md">
                        </div>
                        <div class="ml-2 flex-grow">
                            <div class="leading-5 font-medium text-gray-900">{{ courier.full_name }}</div>
                            <div class="text-xs font-semibold leading-5">
                                <span v-if="courier.is_free" class="text-green-400 flex flex-nowrap items-center">
                                    <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                                    Свободен
                                </span>
                                <span v-else class="text-red-400 flex flex-nowrap items-center">
                                    <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414"></path></svg>
                                    Занять
                                </span>
                            </div>
                        </div>
                        <div class="ml-4">
                            <button class="align-middle text-gray-500 hover:text-purple-600">
                                <v-icon name="phone" class="w-5 h-5 fill-current" />
                            </button>
                            <button class="ml-1 align-middle text-gray-500 hover:text-purple-600">
                                <v-icon name="message" class="w-5 h-5 fill-current" />
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <span class="flex text-sm font-bold text-gray-400 mb-2 text-center ml-1">Информация о курьере</span>
                    <div class="bg-white p-3 rounded-lg whitespace-no-wrap text-gray-500">
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path></svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                {{ courier.phone }}
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"></path></svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                {{ courier.total_orders }} завершённых заказов
                            </div>
                        </div>
                        <div class="flex items-center mb-2">
                            <div class="flex-shrink-0">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path></svg>
                            </div>
                            <div class="ml-1 text-sm font-medium text-gray-500 whitespace-normal">
                                7.5 баллов
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <span class="flex text-sm font-bold text-gray-400 mb-2 text-center ml-1">Счета</span>
                    <div
                        v-for="account in courier.accounts"
                        :key="account.id"
                        class="flex flex-row items-center bg-white py-2 px-3 rounded-lg whitespace-no-wrap text-gray-500 mb-2"
                    >
                        <div class="flex flex-col flex-grow">
                            <span class="text-sm font-medium">{{ account.name }}</span>
                            <span class="font-semibold text-gray-600">{{ account.balance }} сомони</span>
                        </div>
                        <span class="text-gray-500">
                            <v-icon name="wallet" class="w-6 h-6 fill-current" />
                        </span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-white rounded-r-lg h-auto p-4">
                <div class="flex mb-4">
                    <h1 class="flex-grow font-medium text-lg text-gray-600">Незавершенные заказы</h1>

                    <div class="pl-3 flex-none">
                        <button @click="hide()" class="btn btn-sm btn-flat">
                            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-col bg-gray-100 px-3 py-2 rounded-lg" v-for="order in orders">
                        <span class="font-semibold text-gray-600">Заказ #{{ order.order_no }}</span>
                        <div class="flex flex-row text-gray-500 items-center">
                            <span class="text-sm font-semibold flex flex-row items-center">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                {{ order.delivery_address.address }}
                            </span>
                            <span class="text-sm font-semibold flex flex-row items-center ml-4">
                                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                {{ order.created }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'

export default {
    components: {
        VModal
    },

    props: {
        courierId: {
            type: Number,
            required: true
        },
    },

    data() {
        return {
            courier: '',
            orders: '',
        }
    },

    methods: {
        show() {
            this.$refs.modal.show();
        },

        hide() {
            this.$refs.modal.hide();
            // this.form.reset();
        },
    },

    mounted: function () {
        axios.get(route('api.couriers.show', { id: this.courierId }))
            .then( response => {
                this.courier = response.data
            } )
            .catch( error => console.log( error ) )

        axios.get(route('api.couriers.orders.uncompleted', { id: this.courierId }))
            .then( response => {
                this.orders = response.data
            } )
            .catch( error => console.log( error ) )
    }
}
</script>
