<template>
    <v-renderless-select
        :items="users"
        mode="single"
        item-text="full_name"
        item-value="id"
        v-model="selectedUser"
        toggle-select
        @input="$emit('input', selectedUser)"
    >
        <div class="flex items-center" slot-scope="{ items : users, search, isSelected, select, selected }">
            <v-dropdown :placement="placement" class="w-full">
                <template v-slot:button>
                    <slot name="button" v-bind="{ selected }">
                        <div class="flex" v-if="selected">
                            <div class="flex">
                                <img :src="selected.avatar_url" alt="" class="avatar">
                            </div>

                            <div class="ml-3 leading-4 items-center flex-grow text-left whitespace-nowrap">
                                <h2 class="font-semibold leading-6">
                                    {{ selected.full_name }}
                                </h2>
                            </div>
                        </div>

                        <input class="form-input" placeholder="Выбрать пользователя" @input="search($event.target.value)" v-else>
                    </slot>
                </template>

                <template v-slot:content>
                    <div class="dropdown-menu" v-show="users && users.length">
                        <div class="flex flex-col">
<!--                            <div class="px-4 pt-4 mb-2">
                                <input class="form-input" :placeholder="$trans('placeholders.search')" @input="search($event.target.value)">
                            </div>-->

                            <div class="overflow-y-auto" style="height: 220px">
                                <a href="#" class="dropdown-item flex items-center" v-for="user in users" :key="user.id" @click.prevent="select(user)">
                                    <div class="flex-shrink-0 flex items-center">
                                        <div v-if="selected && selected.id === user.id" class="inline-flex w-6 h-6 justify-center items-center text-xs bg-green-400 text-white rounded-full">
                                            <svg class="w-3 h-3 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/>
                                            </svg>
                                        </div>

                                        <img v-else class="avatar avatar-xs" :src="user.avatar_url" alt="avatar">
                                    </div>

                                    <div class="text-sm leading-5 text-gray-700 group-hover:text-gray-900 truncate pl-4">
                                        {{ user.full_name }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </template>
            </v-dropdown>
        </div>
    </v-renderless-select>
</template>

<script>
    import VRenderlessSelect from '@/components/renderless/select'
    import VDropdown from '@/components/dropdown'

    export default {
        components: {
            VRenderlessSelect,
            VDropdown
        },

        props: {
            value: {
                type: [Array, String, Number, Object],
                default: null
            },
            users: {
                type: Array,
                default: []
            },
            placement: {
                type: String,
                default: 'left-0'
            }
        },

        data() {
            return {
                selectedUser: this.value
            }
        },

        watch: {
            value(val) {
                this.selectedUser = val;
            },
        },
    }
</script>
