<template>
    <nav>
        <inertia-link
            :href="route('profile.edit')"
            class="flex items-center px-4 py-2 rounded-lg text-sm mb-1 hover:bg-white font-semibold transition duration-150"
        >
            Редактировать профиль
        </inertia-link>
    </nav>
</template>
