<template>
    <div
        id="id"
        class="flex h-screen w-screen bg-gray-50 dark:bg-gray-900"
        :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
        <v-sidebar-menu/>

        <main class="flex flex-col flex-1 relative z-0 overflow-y-auto focus:outline-none px-4 md:px-12" tabindex="0">
            <div class="flex items-center mb-4">
                <slot name="header"></slot>
            </div>

            <slot></slot>
        </main>
    </div>
</template>

<script>
import VSidebarMenu from '@/components/sidebar-menu/sidebar-menu';

export default {
    components: {
        VSidebarMenu,
    },

    data () {
        return {
            isSideMenuOpen: false,
            isNotificationsMenuOpen: false,
        }
    },

    methods: {
        toggleSideMenu () {
            this.isSideMenuOpen = !this.isSideMenuOpen
        },
        closeSideMenu () {
            this.isSideMenuOpen = false
        },
    }
}
</script>
