<template>
  <v-default-layout>

    <div class="container mx-auto px-4 sm:px-6 md:px-8 py-4">
      <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-10">
          <h2 class="my-1 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Новая накладная
          </h2>
        </div>
        <div class="col-span-2">
          <button class="float-right px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  @click="add()"
          >
            Добавить
          </button>
        </div>

        <div class="col-span-8 px-4 py-3 mb-8 bg-white rounded-lg shadow dark:bg-gray-800">
          <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Номер</span>
            <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                v-model="form.number"
                placeholder="100001">
          </label>

          <label class="ml-2 text-sm">
            <span class="text-gray-700 dark:text-gray-400">Скидка</span>
            <treeselect
                class="mt-1 text-sm"
                :multiple="false"
                :options="$page.discounts"
                :normalizer="normalizer"
                placeholder="Выберите скидку"
                v-model="form.discount"
            />
          </label>
        </div>

        <div class="col-span-8 px-4 py-3 mb-8 bg-white rounded-lg shadow dark:bg-gray-800">
          sss
        </div>
      </div>

    </div>
  </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import Form from '@/utils/form'

export default {
  components: {
    VDefaultLayout,
    Treeselect,
  },

  data () {
    return {
      normalizer(node) {
        return {
          label: node.name,
        }
      },

      form: new Form( {
        number: '',
        discount: null,
        status: false,
        processing: false,
      })
    }
  },

  methods: {
    submit () {
      this.form.processing = true;

      this.$inertia.post( route( 'overhead.store' ), this.form )
          .then( () => this.form.processing = false );
    },
  },
}
</script>

<style>
.filepond--panel-root {
  @apply rounded-lg shadow bg-white;
}
</style>
