<template>
    <v-default-layout>

        <template v-slot:header>
            <h1 class="text-2xl font-semibold text-gray-900">Список накладных</h1>
        </template>

        <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">

            <div class="flex flex-col sm:flex-row flex-col-reverse items-center justify-between mb-6">
                <div class="w-full sm:w-1/2">
                    <div class="mt-1 flex rounded-md shadow-sm">
                        <div class="relative flex-grow focus-within:z-10">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400 fill-current" viewBox="0 0 20 20">
                                    <path
                                        d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                                </svg>
                            </div>

                            <input
                                class="form-input block w-full rounded-none rounded-l-md pl-10 transition ease-in-out duration-150 sm:text-sm sm:leading-5"
                                placeholder="Поиск..."
                            />
                        </div>

                        <v-dropdown>
                            <template v-slot:button>
                                <button class="btn btn-gray leading-6 sm:text-sm sm:leading-5 -ml-px rounded-l-none">
                                    <svg class="h-4 w-4 text-gray-400 fill-current" viewBox="0 0 20 20">
                                        <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z"></path>
                                    </svg>
                                    <span class="ml-2">Фильтры</span>
                                </button>
                            </template>

                            <template v-slot:content>
                                <div class="dropdown-menu p-4">
                                    <div class="form-group">
                                        <label class="form-label">Статус</label>
                                        <select class="form-select">
                                            <option :value="null">Все</option>
                                            <option value="ongoing">В продаже</option>
                                            <option value="overdue">На модерации</option>
                                            <option value="completed">Скрытие</option>
                                        </select>
                                    </div>
                                </div>
                            </template>
                        </v-dropdown>
                    </div>
                </div>

                <div class="flex items-center justify-end w-full mb-4 sm:mb-0 sm:w-1/2 -mx-2">
                    <div class="px-0 sm:px-2">
                        <button
                            class="btn btn-purple"
                            @click="showCreateOverheadModal()"
                        >
                            Добавить накладную
                        </button>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-6 mt-5">
                <div class="col-span-12 w-full overflow-hidden rounded shadow bg-white">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr class="text-xs font-semibold text-gray-500 tracking-wide text-left uppercase">
                                <th class="px-2 w-px py-4 sticky top-0">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox"
                                            v-model="selectAll">
                                    </label>
                                </th>
                                <th class="px-6 py-4">Номер</th>
                                <th class="px-6 py-4">Пользователь</th>
                                <th class="px-6 py-4">Создан</th>
                                <th class="px-6 py-4">Статус</th>
                                <th class="px-6 py-4"></th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y">
                            <tr
                                class="text-gray-700 dark:text-gray-400 bg-white hover:bg-purple-50 transition duration-150 ease-in-out border-t w-full"
                                v-for="overhead in overheads.data"
                                :key="overhead.id"
                            >
                                <td class="px-2 py-3">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox"
                                            v-model="selectedRows"
                                            :value="overhead.id"
                                        >
                                    </label>
                                </td>
                                <td>
                                    <inertia-link :href="route('store:overheads.show', overhead.id)"
                                                  class="block px-4 py-3">
                                        <p class="text-sm font-semibold">
                                            {{ overhead.number }}
                                        </p>
                                    </inertia-link>
                                </td>
                                <td>
                                    <inertia-link :href="route('store:overheads.show', overhead.id)"
                                                  class="block px-4 py-3">
                                        <p class="text-sm font-semibold">{{ overhead.creator.full_name }}</p>
                                    </inertia-link>
                                </td>
                                <td>
                                    <inertia-link :href="route('store:overheads.show', overhead.id)"
                                                  class="block px-4 py-3">
                                        <p class="text-sm font-semibold">{{ overhead.created }}</p>
                                    </inertia-link>
                                </td>
                                <td>
                                    <inertia-link
                                        :href="route('store:overheads.show', overhead.id)"
                                        class="block px-4 py-3"
                                    >
                                        <span
                                            v-if="overhead.status === 'active'"
                                            class="px-2 py-1 badge badge-green"
                                        >
                                          Активный
                                        </span>
                                        <span
                                            v-else
                                            class="px-2 py-1 badge badge-red"
                                        >
                                          Не активен
                                        </span>
                                    </inertia-link>
                                </td>
                                <td class="w-px">
                                    <inertia-link :href="route('store:overheads.show', overhead.id)"
                                                  class="block px-4 py-3">
                                        <div class="ml-5 flex-shrink-0">
                                            <svg class="h-5 w-5 text-gray-400 fill-current" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </div>
                                    </inertia-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 sm:grid-cols-9 dark:text-gray-400">
                        <div class="flex items-center col-span-3">
                            <button
                                class="duration-150 text-gray-400 cursor-default"
                                :class="{ 'cursor-pointer': selectedRows.length, 'hover:text-red-600': selectedRows.length }"
                                :disabled="!selectedRows.length"
                                @click="deleteRows()"
                            >
                                <v-icon name="trash-alt" classes="h-5 w-5 fill-current"/>
                            </button>
                        </div>

                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
              <v-pagination :links="overheads.meta.links"></v-pagination>
            </span>
                    </div>
                </div>
            </div>

        </div>
    </v-default-layout>
</template>

<script>
import VDropdown from '@/components/dropdown'
import VPagination from '@/components/pagination'
import VDefaultLayout from '@/views/firm/layouts/default'
import VCreateOverheadModal from '@/views/firm/store/overhead/modal-overhead-create'

export default {
    components: {
        VDefaultLayout,
        VPagination,
        VDropdown,
    },
    props: {
        overheads: Object,
        discounts: Array,
    },
    data () {
        return {
            statusOpen: false,
            selectedRows: [],
        }
    },

    methods: {
        deleteRows () {
            this.$inertia.post( route( 'store:overheads.destroy' ), this.selectedRows, {
                onSuccess: () => {
                    this.selectedRows = [];
                    console.log( ':)' );
                },
                onError: ( error ) => {
                    console.log( error )
                }
            } )
        },
        showCreateOverheadModal () {
            this.$modal( VCreateOverheadModal, {
                discounts: this.discounts
            } );
        }
    },

    computed: {
        selectAll: {
            get: function () {
                return this.overheads.data.length ? this.selectedRows.length === this.overheads.data.length : false;
            },
            set: function ( value ) {
                var selectedRows = [];

                if (value) {
                    this.overheads.data.forEach( function ( product ) {
                        selectedRows.push( product.id );
                    } );
                }

                this.selectedRows = selectedRows;
            }
        }
    },
}
</script>
