<template>
    <v-modal ref="modal">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                <div class="p-6">
                    <h3 class="font-medium text-lg">Добавить накладную</h3>
                </div>

                <div class="flex flex-col px-6">
                    <div class="mb-6">
                        <div class="form-group">
                            <label for="overhead-number" class="form-label">Номер накладной</label>
                            <input id="overhead-number" class="form-input" :placeholder="100011" v-model="form.number"
                                   autofocus="true">
                            <p class="invalid-feedback" v-if="form.errors.number">
                                {{ form.errors.number }}</p>
                        </div>
                    </div>

                    <div class="mb-6">
                        <div class="form-group">
                            <label for="overhead-discount" class="form-label">Скидка</label>
                            <select class="form-select" id="overhead-discount" v-model="form.discount_id">
                                <option :value="null">Без скидки</option>
                            </select>
                            <p class="invalid-feedback" v-if="form.errors.discount_id">
                                {{ form.errors.discount_id }}</p>
                        </div>
                    </div>
                </div>

                <div class="bg-gray-50 p-4 sm:px-6 sm:py-4 sm:flex sm:flex-row-reverse">
                    <button type="button" class="btn btn-purple" @click="store()" :disabled="form.processing">
                        Добавить
                    </button>

                    <button type="button" class="btn btn-flat mr-3" @click="hide()">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </v-modal>
</template>

<script>
import VModal from '@/components/modal'

export default {
    components: {
        VModal
    },
    props: {
        discounts: Array,
    },
    data () {
        return {
            form: this.$inertia.form({
                number: null,
                discount_id: null,
            } )
        }
    },
    methods: {
        show () {
            this.$refs.modal.show();
        },

        hide () {
            this.$refs.modal.hide();
        },

        store () {
            this.form.processing = true;

            this.$inertia
                .post(route('store:overheads.store'), this.form, {
                    onSuccess() {
                        this.form.processing = false;

                        if (!this.$inertia.form.hasError) {
                            this.hide();
                            this.form.reset();
                        }
                    },
                    onError(errors) {
                        this.form.processing = false;

                        console.log('Has error!');
                        console.error(errors)
                    }
                })
        }
    }
}
</script>

<style scoped>

</style>
