<template>
    <v-default-layout>
        <template v-slot:header>
            <h1 class="text-2xl font-semibold text-gray-900">Заказы</h1>
        </template>

        <div class="container mx-auto flex flex-col flex-1 px-4 sm:px-6 md:px-8 py-4">

            <div class="flex flex-row items-start">
                <div class="w-2/3 overflow-hidden rounded shadow bg-white mr-5">
                    <div class="overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr class="text-xs font-semibold text-gray-500 tracking-wide text-left uppercase">
                                <!--<th class="px-2 w-px py-4 sticky top-0">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 rounded-xl cursor-pointer">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox"
                                            v-model="selectAll">
                                    </label>
                                </th>-->
                                <th class="px-6 py-4">Номер</th>
                                <th class="px-6 py-4">Курьер</th>
                                <th class="px-6 py-4">Сумма</th>
                                <th class="px-6 py-4">Время</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y">
                            <tr
                                class="text-gray-700 dark:text-gray-400 bg-white hover:bg-purple-50 transition duration-150 ease-in-out border-t w-full cursor-pointer"
                                v-for="order in orders.active"
                                :key="order.id"
                                @click="showOrder(order.id)"
                            >
                                <!--<td class="px-2 py-3">
                                    <label
                                        class="inline-flex justify-between items-center hover:bg-purple-100 px-2 py-2 cursor-pointer rounded-xl">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox"
                                            v-model="selectedRows"
                                            :value="order.id"
                                        >
                                    </label>
                                </td>-->
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <p class="font-semibold">
                                            {{ order.order_no }}
                                        </p>
                                    </div>
                                </td>
                                <td class="px-4 py-3">
                                    <p
                                        class="font-medium"
                                        v-if="order.courier && order.courier.length"
                                    >
                                        {{ order.courier.full_namme }}
                                    </p>
                                    <p
                                        class="font-medium"
                                        v-else
                                    >
                                        Не назначен
                                    </p>
                                </td>
                                <td class="px-4 py-3">
                                    <p class="font-medium">{{ order.amount }}</p>
                                </td>
                                <td class="px-4 py-3">
                                    <p class="font-medium">{{ order.created }}</p>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="w-1/3 flex flex-col transform transition-all" v-if="selectedOrder">
                    <div class="flex flex-col bg-white rounded shadow px-4 py-2 h-auto w-full mb-4">
                        <div class="flex flex-row mb-3">
                            <div class="flex flex-col flex-grow">
                                <h1 class="font-medium text-lg mb-0.5">
                                    Заказ
                                    <span class="font-semibold">#{{ selectedOrder.order_no }}</span>
                                </h1>
                                <span class="text-xs font-bold text-gray-500 mb-2">{{ selectedOrder.created }}</span>
                            </div>

                            <span class="flex text-lg font-medium items-center">
                                {{ selectedOrder.amount }}
                            </span>
                        </div>

                        <div class="mb-3 flex flex-col">
                            <div class="flex flex-col">
                                <span class="text-sm font-medium text-gray-500 mb-2">Комментарий</span>

                                <div class="text-sm font-medium whitespace-normal">
                                    {{ selectedOrder.note }}
                                </div>
                            </div>
                            <div class="flex flex-col mt-4">
                                <span class="flex text-sm font-medium text-gray-500 mb-2 text-center ml-1">Курьер</span>
                                <a
                                    href="#"
                                    v-if="selectedOrder.courier"
                                >
                                    <div class="p-2 border-2 border-gray-200 rounded-lg whitespace-no-wrap">
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0 h-12 w-12">
                                                <img :src="selectedOrder.courier.avatar_url" alt="" class="avatar avatar-lg">
                                            </div>
                                            <div class="ml-2 flex-grow">
                                                <div class="text-sm leading-5 font-medium text-gray-900">{{ selectedOrder.courier.full_name }}</div>
                                                <div class="text-xs leading-5 text-gray-500">Расчетное время прибытия: 3 мин.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col bg-white rounded shadow px-4 py-2 mb-3">
                        <h1 class="font-medium text-lg mb-4">Пункты заказа</h1>

                        <div class="flex flex-col divide-y divide-gray-200 divide-opacity-10">
                            <div
                                class="flex items-center mb-2 pt-0.5"
                                v-for="item in selectedOrder.items"
                                :key="item.id"
                            >
                                <div>
                                    <img src="/img/Hamburger.jpg" alt="" class="avatar avatar-md">
                                </div>
                                <div class="flex flex-col flex-grow ml-2 font-bold">
                                    {{ item.product_name }}
                                    <span class="text-xs text-gray-500 leading-3 font-medium">
                                        Есть в наличии
                                    </span>
                                </div>
                                <div class="flex px-2 text-lg font-medium">
                                    {{ item.quantity }} x
                                </div>
                                <div class="flex flex-col flex-1 px-2 font-medium text-right">
                                    {{ item.total }} с.
                                    <span class="text-xs text-gray-500 leading-3">
                                        {{ item.price }} с. / ш.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button
                            class="btn btn-purple btn-block"
                            v-if="selectedOrder.status === 1"
                            @click="confirm"
                        >
                            Подтвердить
                        </button>
                        <button
                            class="btn btn-red btn-block"
                            v-else
                            @click="showCancelOrderModal"
                        >
                            Отменить заказ
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </v-default-layout>
</template>

<script>
import VDefaultLayout from '@/views/firm/layouts/default'
import VPagination from '@/components/pagination'
import VDropdown from '@/components/dropdown'
import VCancelOrderModal from '@/views/firm/store/order/modal-order-cancel'

export default {
    components: {
        VDefaultLayout,
        VPagination,
        VDropdown,
        VCancelOrderModal,
    },
    props: {
        orders: Object,
    },
    data () {
        return {
            statusOpen: false,
            selectedRows: [],
            selectedOrder: '',
        }
    },

    methods: {
        deleteRows () {
            this.$inertia.post(route('store:orders.destroy'), this.selectedRows, {
                onSuccess: () => {
                    this.selectedRows = [];
                    console.log(':)');
                },
                onError: (error) => {
                    console.log(error);
                }
            })
        },

        showOrder(id) {
            axios.get(route('api.store.orders.show', id))
                .then(response => {
                    this.selectedOrder = response.data;
                })
                .catch(error => {
                    console.error(error);
                })
        },

        confirm() {
          axios.put(route('api.store.orders.changeStatus', { "id": this.selectedOrder.id }), {
              state: 2
          })
            .then(response => {
                console.log(response);
            })
            .catch(error => {
                console.error(error);
            })
        },

        showCancelOrderModal()
        {
            this.$modal( VCancelOrderModal);
        }
    },

    computed: {
        selectAll: {
            get: function () {
                return this.orders.active.length ? this.selectedRows.length === this.orders.active.length : false;
            },
            set: function (value) {
                var selectedRows = [];

                if (value) {
                    this.orders.active.forEach(function (order) {
                        selectedRows.push(order.id);
                    });
                }

                this.selectedRows = selectedRows;
            }
        }
    },
}
</script>
