<template>
  <v-modal ref="modal">
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
          <div class="p-6">
              <h3 class="font-medium text-lg">Отмена заказа</h3>
          </div>

          <div class="flex flex-col px-6">
              <div class="mb-6">
                  <div class="form-group">
                      <label for="reason" class="form-label">Причина</label>
                      <textarea
                          id="reason"
                          class="form-input"
                          v-model="form.reason"
                          autofocus="true"
                      ></textarea>
                      <p
                          class="invalid-feedback"
                          v-if="$page.errors.has('reason')"
                      >
                          {{ $page.errors.first('reason') }}
                      </p>
                  </div>
              </div>
          </div>

          <div class="bg-gray-50 p-4 sm:px-6 sm:py-4 sm:flex sm:flex-row-reverse">
              <button type="button" class="btn btn-red" @click="cancel()" :disabled="form.processing">
                  Подтвердить
              </button>

              <button type="button" class="btn btn-flat mr-3" @click="hide()">
                  Отменить
              </button>
          </div>
      </div>
  </v-modal>
</template>

<script>
import VModal from '@/components/modal'
import Form from '@/utils/form'

export default {
  components: {
    VModal
  },
  data() {
    return {
      form: new Form({
        reason: ''
      })
    }
  },
  methods: {
    show() {
      this.$refs.modal.show();
    },

    hide() {
      this.$refs.modal.hide();
    },

    cancel() {
      this.form.processing = true;

      /*this.$inertia
          .post(route('store:overheads.store'), this.form.data())
          .then(() => {
            this.processing = false;

            if (this.$page.errors.none()) {
              this.hide();
              this.form.reset();
            }
          });*/
    }
  }
}
</script>

<style scoped>

</style>
