<template>
    <div>
        <div class="flex flex-col bg-gray-50 border border-gray-100 hover:bg-gray-100 cursor-pointer px-3 py-2 mb-2 rounded-lg" v-for="order in orders">
            <div class="flex flex-row">
                <span class="font-semibold text-gray-800 flex flex-grow mb-1">Заказ #{{ order.order_no }}</span>

                <span class="text-sm font-semibold items-center ml-4 flex flex-row text-gray-400">
                    <!--<v-icon name="clock" classes="fill-current w-4 h-4" />-->
                    {{ order.created }}
                </span>
            </div>

            <span class="text-sm font-semibold flex flex-row text-gray-500">
                <!--<v-icon name="location-point" classes="fill-current w-5 h-5 mr-1" />-->
                {{ order.delivery_address.address }}
            </span>

            <span class="text-sm font-medium text-gray-400" v-if="order.courier && order.length">
                Курьер: {{ order.courier.full_name }}
            </span>

            <span class="text-sm font-medium text-gray-400" v-else>
                Курьер не назначен
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        orders: {
            type: [Object, Array],
            required: true
        }
    },

    data() {
        return {
        }
    },

    /*mounted () {
     this.getActiveOrders();
     },*/

    methods: {
        /*getActiveOrders() {
         axios.get(route('store:orders.index', {
         'filter': 'active'
         }))
         .then((response) => {
         console.log(response)
         })
         .catch((error) => {
         console.log(error)
         })
         }*/
    }
}
</script>
