<template>
  <div class="bg-white px-4 py-3 rounded-lg shadow-md">
    <div class="block w-full border border-dashed border-gray-300 rounded-lg relative">
      <input
          class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50"
          type="file"
          id="files"
          ref="files"
          multiple accept="image/*"
          v-on:change="handleFilesUpload()"/>
      <div class="text-center p-10 absolute top-0 right-0 left-0 m-auto">
        <h4>
          Перетащите сюда изображение родукта
          <br/>или
        </h4>
        <p class="mt-2 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-500 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          Выберите изображение
        </p>
      </div>

      <div class="large-12 medium-12 small-12 cell clear">
        <button v-on:click="addFiles()">Add Files</button>
      </div>
    </div>

    <div v-for="(file, key) in files" class="rounded-md px-2 py-2 mt-4" :key="key">
      <span>{{ file.name }}</span>
      <img class="preview" v-bind:ref="'image'+parseInt( key )"/>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      files: [],
      showPreview: false,
      imagePreview: ''
    }
  },

  methods: {
    handleFilesUpload(){
      let uploadedFiles = this.$refs.files.files;
      for( var i = 0; i < uploadedFiles.length; i++ ){
        this.files.push( uploadedFiles[i] );
      }
      this.getImagePreviews();
    },

    getImagePreviews(){
      for( let i = 0; i < this.files.length; i++ ){

        if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].name ) ) {

          let reader = new FileReader();
          reader.addEventListener("load", function(){
            this.$refs['image'+parseInt( i )][0].src = reader.result;
          }.bind(this), false);
          reader.readAsDataURL( this.files[i] );
        }
      }
    }
  }
}
</script>
