<template>
  <nav aria-label="Table navigation" v-if="links.length > 3">
    <ul class="inline-flex items-center">
      <template v-for="(link, key) in links">
        <div :key="key" v-if="link.url === null" :class="{ 'rounded-l-md': key === 0, '-ml-px': key > 0, 'rounded-r-md': key+1 === links.length }"
             class="px-1 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-none">

          <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" v-if="link.label === 'Previous'">
            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>

          <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" v-else-if="link.label === 'Next'">
            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>

          <span
              v-else
              class="px-3 py-1 rounded-md focus:outline-none"
              :class="{ active: link.active }"
          >
            {{ link.label }}</span>
        </div>

        <inertia-link
            v-else
            :key="key"
            :href="link.url"
            :class="{ 'rounded-l-md': key === 0, '-ml-px': key > 0, 'rounded-r-md': key+1 === links.length }"
            class="px-1 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
        >
          <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20" v-if="link.label === 'Previous'">
            <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>

          <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20" v-else-if="link.label === 'Next'">
            <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
          </svg>

          <span
              v-else
              class="px-3 py-1 rounded-md focus:outline-none"
              :class="{ active: link.active }"
          >
            {{ link.label }}</span>
        </inertia-link>


      </template>
    </ul>
  </nav>
</template>

<script>
    export default {
        props: {
            links: Array,
        }
    }
</script>


<style scoped>
.active {
  @apply text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md;
}
</style>
